@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Oxygen&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oxygen", "sans-serif" "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue";
  background: F1F5F8;
  color: #222;
}

h3,
#form-for-filter,
#form-for-new,
form {
  margin: 40px auto;
  text-align: center;
  padding: 0;
  gap: 2rem;
}

.table-content {
  border-collapse: separate;
  font-size: 0.8em;
  margin: 40px auto;
  width: 60%;
  object-fit: cover;
}

.table-content,
th,
tr,
td tr:hover {
  background-color: #cdcdcd;
  color: black;
  text-align: left;
  font-weight: bold;
}

.table-content th,
.table-content td {
  padding: 2px 5px;
}

.table-content tbody tr {
  border-bottom: 2px solid #dddddd;
}

.table-content tbody tr:last-of-type {
  border-radius: #21222ae8;
}

tr:hover {
  background-color: #4f667d;
}

caption {
  font-weight: bold;
  font-size: 24px;
  /* text-align: left; */
  color: #333;
}

#filter-button,
#submit,
.delete-button {
  background-color: #4f667d;
  border-radius: 5px;
  color: #dddddd;
  cursor: pointer;
}

#filter-button #form-for-filter {
  border-collapse: separate;
  margin: 0px 0;
  font-size: 0.8em;
}

#submit {
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 0.8em;
}

form {
  background-color: #fff;
  color: black;
  box-shadow: 1px 1px 3px 2px;
  display: block;
  margin: 40px auto;
  max-width: 177px;
  max-height: 500px;
}

form input,
text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: "Oxygen", sans-serif;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}
